# Base de datos
DATABASE_URL="mysql://usuario:password@localhost:3306/futsal_db"

# JWT
JWT_SECRET="cambiar_por_un_secreto_seguro"
JWT_EXPIRES_IN="7d"

# MercadoPago
MP_ACCESS_TOKEN="tu_access_token_de_mercadopago"
MP_WEBHOOK_SECRET="tu_webhook_secret"
MP_TEST_BUYER_EMAIL=

# Email
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USER="tu_email@gmail.com"
MAIL_PASS="tu_app_password"

#Frontend
FRONTEND_URL=http://localhost:5173
BACKEND_PUBLIC_URL="url de ngrok"

# Servidor
PORT=3000