@import "tailwindcss";

@theme {
  --container-app: 1200px;
  --color-navy: #0B2545;
  --color-primary: #1B6FC4;
  --color-brand: #C8102E;
  --color-success: #16A34A;
  --color-canvas: #F1F5F9;
  --color-muted: #64748B;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}